@keyframes dash {
	50% {
		stroke-dashoffset: 333;
		stroke: $color-white;
		fill: $color-black;
	}
}

@keyframes spherize {
	0%, 100% {
		width: 100px;
		height: 50px;
		border-radius: 100px / 50px;
	}
	50% {
		height: 100px;
		border-radius: 100px / 100px;
	}
}

@keyframes scale {
	0%, 100% {transform: scale(3)}
	50% {transform: scale(4)}
}

@keyframes anim {
  0%   { opacity: 0; filter: blur(18px)}
  10%  { opacity: 0; }
  90%  { opacity: 1; }
  100% { opacity: 1; filter: blur(1px)}
}

@keyframes write {
  0% { stroke-dasharray:10 20; }
  100% { stroke-dasharray: 10 0; }
}

@keyframes stroke-it {
	0%, 100% {
		stroke-dashoffset: 999;
		stroke: $color-deep-purple_900;
		fill: $color-indigo_50;
	}
	63% {
		stroke-dashoffset: 333;
		stroke: $color-pink_a400;
		fill: $color-deep-purple_50;
	}
}