$color-white:								#ffffff;
$color-cyan:								#00bcd4;
$color-magenta:							#c2185b;
$color-yellow:							#ffeb3b;
$color-yellow_500:					#ffeb3b;
$color-yellow_800:					#f9a825;
$color-silver:							#6e6e6e;
$color-black:								#000000;
$color-indigo_50:						#e8eaf6;
$color-indigo_500:					#3f51b5;
$color-purple_500:					#9c27b0;
$color-purple_900:					#4a148c;
$color-deep-purple_50:			#ede7f6;
$color-deep-purple_200:			#b39ddb;
$color-deep-purple_800:			#4527a0;
$color-deep-purple_900:			#311b92;
$color-deep-purple_a200:		#7c4dff;
$color-pink_300:						#f06292;
$color-pink_a400:						#f50057;
$color-amber_50:						#fff8e1;
$color-amber_500:						#ffc107;
$color-orange_100:					#ffe0b2;
$color-red_700:							#d32f2f;
$color-light-green_500:			#8bc34a;
$color-light-blue_100:			#b3e5fc;
$color-light-blue_500:			#03a9f4;